/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');*/

body {
    margin: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

p{
    margin: 0;
    padding: 0;
}



.hero,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero,
.features,
.quote,
.action {
    flex:0 0 auto;
    padding: 0 15%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header ul {
    display: flex;
    gap: 16px;
}

.header a {
    color: #E5E7EB;
    font-size: 18px;
}
.logo {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
}


.content {
    display: flex;
    padding: 80px 0px;
    justify-content: space-between;
    gap: 60px;
    height: 300px;
}

.hero-title {
    flex: 1 0 auto;
    width: 400px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}
.hero-sub-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-btn {
    background-color: #3882F6;
    color: inherit;
    font-weight: bold;
    padding: 6px 20px;
    border: none;
    border-radius: 4px;
}

.hero-img {
    flex: 2 1 auto;
    width: 600px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}





.features {
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center
}

.features-title {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}
.features-information {
    display: flex;
    justify-content: space-evenly;
}

.feature-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-img {
    flex: 1 1 auto;
    height: 150px;
    width: 150px;
    border-radius: 8px;
    border: 4px solid #5194ff;
}
.feature-description {
    width: 140px;
    font-size: 18px;
}


.quote {
    background-color: #E5E7EB;
}

.quote-content {
    padding: 100px;
}

.quote-text{
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
    text-align: justify;
    color: #1F2937;
}
.author {
    font-weight: bold;
    font-size: 24px;
    text-align: end;
}



.action-item {
    background-color: #3882F6;
    margin: 50px 0px;
    padding: 40px 100px;
    border-radius: 8px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-title{
    font-weight: bold;
}
.action-text {
    color: #E5E7EB;
}
.action-btn {
    background-color: #3882F6;
    color: inherit;
    font-weight: bold;
    padding: 6px 20px;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
}





.footer {
    flex: none;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}